* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  background: #171515;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
  color: #8b949e;
}

.content-main {
  margin-top: 20px;
  margin: 30px;
}

.content-main .project {
  border: 1px solid #30363d;
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 30px;
  border-radius: 6px;
  margin: 20px;
}

.content-main .project div {
  display: flex;
  justify-content: space-between;
}

.content-main div .data-create {
  color: #8b949e;
  border: 1px solid #8b949e;
  border-radius: 20px;
  padding: 5px 10px;
  font-size: 0.9rem;
}

.content-main div .title {
  color: #47a6f0;
}

.content-main .project .language {
  color: white;
}
.content-main .project .language .circle {
  background: #47a6f0;
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-right: 5px;
  border: 1px solid #30363d;
  border-radius: 50%;
}
